[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
pandas = "*"
python-decouple = "*"
markdown = "*"
openai = "*"
matplotlib = "*"
seaborn = "*"
psycopg2-binary = "*"
langchain = "0.0.235"
python-environ = "*"
pgeocode = "*"
SQLAlchemy = "*"
pytest="*"
tiktoken="*"
torch="*"
pynvml="*"
[dev-packages]

[requires]
python_version = "3.10"
