[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "*"
pandas = "*"
python-decouple = "*"
markdown = "*"
openai = "*"
matplotlib = "*"
seaborn = "*"
psycopg2-binary = "*"
langchain = "*"
python-environ = "*"
pgeocode = "*"
pytest="*"
tiktoken="*"
torch="*"
pynvml="*"
boto3 = "*"
llama-index = "*"
numpy = "1.25.2"
pypdf2 = "3.0.1"
pdf2image = "1.16.3"
botocore = "*"
langchain-community = "*"
pypdf = "*"
s3fs = "*"
chromadb = "*"
docx2txt = "*"
transformers = "*"
python-pptx = "*"
pillow = "*"
pgvector = "*"
asyncpg = "*"
sqlalchemy = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
